.answerTable{
  overflow: hidden;
  padding: 30px;
  border-radius: 25px;
  background-color: antiquewhite;
  float: left;
  margin: 50px;
}

.formAns{
  border-spacing: 10px;
}

.mainAns{
  border: 3px solid gray;
  overflow: auto;
  width: 500px;
  height: 300px;
}

@media screen and (max-width: 992px) {
  .answerTable{
    font-size: 80%;
    zoom: 230%;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 5px;
    float: unset;
    width: 97%;
  }
  .mainAns{
    width: 100%;
  }
}
