.block{
  word-wrap: normal;
  text-indent: 5%;
  padding: 25px;
  border-radius: 25px;
  background-color: antiquewhite;
  float: right;
  margin: 50px;
  font-family: Gill Sans, sans-serif;
  font-size: 150%;
  width: 400px;
}
